/* Primary Palettes */
:root,
.theme-primary-blue {
    --p-primary-50: #dbeafe;
    --p-primary-100: #bfdbfe;
    --p-primary-200: #93c5fd;
    --p-primary-300: #60a5fa;
    --p-primary-400: #3b82f6;
    --p-primary-500: #2563eb;
    --p-primary-600: #1d4ed8;
    --p-primary-700: #1e40af;
    --p-primary-800: #1e3a8a;
    --p-primary-900: #172554;
    --p-primary-950: #0f172a;
}

.theme-primary-purple {
    --p-primary-50: #faf5ff;
    --p-primary-100: #f3e8ff;
    --p-primary-200: #e9d5ff;
    --p-primary-300: #d8b4fe;
    --p-primary-400: #c084fc;
    --p-primary-500: #a855f7;
    --p-primary-600: #9333ea;
    --p-primary-700: #7e22ce;
    --p-primary-800: #6b21a8;
    --p-primary-900: #581c87;
    --p-primary-950: #3b0764;
}

.theme-primary-teal {
    --p-primary-50: #f0fdfa;
    --p-primary-100: #ccfbf1;
    --p-primary-200: #99f6e4;
    --p-primary-300: #5eead4;
    --p-primary-400: #2dd4bf;
    --p-primary-500: #14b8a6;
    --p-primary-600: #0d9488;
    --p-primary-700: #0f766e;
    --p-primary-800: #115e59;
    --p-primary-900: #134e4a;
    --p-primary-950: #042f2e;
}

.theme-primary-pink {
    --p-primary-50: #fdf2f8;
    --p-primary-100: #fce7f3;
    --p-primary-200: #fbcfe8;
    --p-primary-300: #f9a8d4;
    --p-primary-400: #f472b6;
    --p-primary-500: #ec4899;
    --p-primary-600: #db2777;
    --p-primary-700: #be185d;
    --p-primary-800: #9d174d;
    --p-primary-900: #831843;
    --p-primary-950: #500724;
}

.theme-primary-gray {
    --p-primary-50: #f9fafb;
    --p-primary-100: #f3f4f6;
    --p-primary-200: #e5e7eb;
    --p-primary-300: #d1d5db;
    --p-primary-400: #9ca3af;
    --p-primary-500: #6b7280;
    --p-primary-600: #4b5563;
    --p-primary-700: #374151;
    --p-primary-800: #1f2937;
    --p-primary-900: #111827;
    --p-primary-950: #030712;
}

.theme-primary-green {
    --p-primary-50: #f0fdf4;
    --p-primary-100: #dcfce7;
    --p-primary-200: #bbf7d0;
    --p-primary-300: #86efac;
    --p-primary-400: #4ade80;
    --p-primary-500: #22c55e;
    --p-primary-600: #16a34a;
    --p-primary-700: #15803d;
    --p-primary-800: #166534;
    --p-primary-900: #14532d;
    --p-primary-950: #052e16;
}

.theme-primary-orange {
    --p-primary-50: #fff7ed;
    --p-primary-100: #ffedd5;
    --p-primary-200: #fed7aa;
    --p-primary-300: #fdba74;
    --p-primary-400: #fb923c;
    --p-primary-500: #f97316;
    --p-primary-600: #ea580c;
    --p-primary-700: #c2410c;
    --p-primary-800: #9a3412;
    --p-primary-900: #7c2d12;
    --p-primary-950: #431407;
}

/* Surface Palettes */
:root,
.theme-surface-blue {
    --p-surface-0: #ffffff;
    --p-surface-50: #f8fafc;
    --p-surface-100: #f1f5f9;
    --p-surface-200: #e2e8f0;
    --p-surface-300: #cbd5e1;
    --p-surface-400: #94a3b8;
    --p-surface-500: #64748b;
    --p-surface-600: #475569;
    --p-surface-700: #334155;
    --p-surface-800: #1e293b;
    --p-surface-900: #0f172a;
    --p-surface-950: #020617;

    --p-content-border-radius: 6px;
}

.theme-surface-gray {
    --p-surface-0: #ffffff;
    --p-surface-50: #f9fafb;
    --p-surface-100: #f3f4f6;
    --p-surface-200: #e5e7eb;
    --p-surface-300: #d1d5db;
    --p-surface-400: #9ca3af;
    --p-surface-500: #6b7280;
    --p-surface-600: #4b5563;
    --p-surface-700: #374151;
    --p-surface-800: #1f2937;
    --p-surface-900: #111827;
    --p-surface-950: #030712;
}

/* Light */
:root {
    --p-primary-color: var(--p-primary-500);
    --p-primary-contrast-color: var(--p-surface-0);
    --p-primary-hover-color: var(--p-primary-600);
    --p-primary-active-color: var(--p-primary-700);
    --p-content-border-color: var(--p-surface-200);
    --p-content-hover-background: var(--p-surface-100);
    --p-content-hover-color: var(--p-surface-800);
    --p-scrollbar-thumb: var(--p-surface-100);
    --p-highlight-background: var(--p-primary-50);
    --p-highlight-color: var(--p-primary-700);
    --p-highlight-focus-background: var(--p-primary-100);
    --p-highlight-focus-color: var(--p-primary-800);
    --p-text-color: var(--p-surface-700);
    --p-text-hover-color: var(--p-surface-800);
    --p-text-muted-color: var(--p-surface-500);
    --p-text-hover-muted-color: var(--p-surface-600);
}

/*
 * Dark Mode
 * Defaults to system, change the dark variant selector to match the CSS variable configuration.
 * For example;
 * @custom-variant dark (&:where(.app-dark, .app-dark *));
 * should match to;
 * :root[class="app-dark"]
*/
@media (prefers-color-scheme: dark) {
    :root {
        --p-primary-color: var(--p-primary-400);
        --p-primary-contrast-color: var(--p-surface-900);
        --p-primary-hover-color: var(--p-primary-300);
        --p-primary-active-color: var(--p-primary-200);
        --p-content-border-color: var(--p-surface-700);
        --p-content-hover-background: var(--p-surface-800);
        --p-content-hover-color: var(--p-surface-0);
        --p-scrollbar-thumb: var(--p-surface-600);
        --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
        --p-highlight-color: rgba(255, 255, 255, 0.87);
        --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
        --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
        --p-text-color: var(--p-surface-0);
        --p-text-hover-color: var(--p-surface-0);
        --p-text-muted-color: var(--p-surface-400);
        --p-text-hover-muted-color: var(--p-surface-300);
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #e2e8f0c8;
    border: 0px;
    cursor: pointer;
}
::-webkit-scrollbar-track:hover {
    background: #cbd5e1bc;
}
::-webkit-scrollbar-thumb {
    background-color: #64748b59;
    border-radius: 10px;
    border: 2px solid #f1f5f9;
    box-sizing: border-box;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #64748b;
}
.dark ::-webkit-scrollbar-track {
    background: var(--p-surface-800);
}
.dark ::-webkit-scrollbar-thumb {
    background-color: var(--p-surface-500);
    border: 2px solid var(--p-surface-800);
}
.dark ::-webkit-scrollbar-thumb:hover {
    background-color: var(--p-surface-400);
}
