:root {
    --p-primary-50: #dbeafe;
    --p-primary-100: #bfdbfe;
    --p-primary-200: #93c5fd;
    --p-primary-300: #60a5fa;
    --p-primary-400: #3b82f6;
    --p-primary-500: #2563eb;
    --p-primary-600: #1d4ed8;
    --p-primary-700: #1e40af;
    --p-primary-800: #1e3a8a;
    --p-primary-900: #172554;
    --p-primary-950: #0f172a;

    --p-surface-0: #ffffff;
    --p-surface-50: #f8fafc;
    --p-surface-100: #f1f5f9;
    --p-surface-200: #e2e8f0;
    --p-surface-300: #cbd5e1;
    --p-surface-400: #94a3b8;
    --p-surface-500: #64748b;
    --p-surface-600: #475569;
    --p-surface-700: #334155;
    --p-surface-800: #1e293b;
    --p-surface-900: #0f172a;
    --p-surface-950: #020617;

    --p-content-border-radius: 6px;
}

/* Light */
:root {
    --p-primary-color: var(--p-primary-400);
    --p-primary-contrast-color: var(--p-surface-900);
    --p-primary-hover-color: var(--p-primary-300);
    --p-primary-active-color: var(--p-primary-200);
    --p-content-border-color: var(--p-surface-700);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);
    --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
    --p-highlight-color: rgba(255, 255, 255, 0.87);
    --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
    --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
    --p-text-color: var(--p-surface-0);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);
}

/*
 * Dark Mode
 * Defaults to system, change the dark variant selector to match the CSS variable configuration.
 * For example;
 * @custom-variant dark (&:where(.app-dark, .app-dark *));
 * should match to;
 * :root[class="app-dark"]
*/
/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --p-primary-color: var(--p-primary-400);*/
/*        --p-primary-contrast-color: var(--p-surface-900);*/
/*        --p-primary-hover-color: var(--p-primary-300);*/
/*        --p-primary-active-color: var(--p-primary-200);*/
/*        --p-content-border-color: var(--p-surface-700);*/
/*        --p-content-hover-background: var(--p-surface-800);*/
/*        --p-content-hover-color: var(--p-surface-0);*/
/*        --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);*/
/*        --p-highlight-color: rgba(255, 255, 255, 0.87);*/
/*        --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);*/
/*        --p-highlight-focus-color: rgba(255, 255, 255, 0.87);*/
/*        --p-text-color: var(--p-surface-0);*/
/*        --p-text-hover-color: var(--p-surface-0);*/
/*        --p-text-muted-color: var(--p-surface-400);*/
/*        --p-text-hover-muted-color: var(--p-surface-300);*/
/*    }*/
/*    body {*/
/*        background-color: #202124;*/
/*        color: var(--p-text-color);*/
/*    }*/
/*}*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: var(--p-webkit-scrollbar-track);
}
::-webkit-scrollbar-thumb {
    background-color: var(--p-surface-600);
    border-radius: 6px;
    border: 0px solid var(--p-surface-200);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--p-surface-300);
}

